@media only screen and (min-width: 32.5em) {
    #portal-content {
        box-shadow: -0.6rem 1.1rem 0.9rem #2b170d94;
    }

    #portal-img {
        float: right;
        margin: 1.5rem 0rem 0rem 0rem;
    }
}