@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato:wght@400;700;900&display=swap');

body {
    background-color: #E0B184;
    font-size: 16px;
    font-family: "Lato", sans-serif;
}

#portal-content {
    margin: 0 auto;
    max-width: 1100px;
    box-shadow: -0.6rem 1.1rem 0.9rem #2b170d94;
}

h1 {
    font-family: "Kaushan Script", serif;
    font-size: 55px;
}

#portal-header, #portal-footer {
    background-color: #2B170D;
    color: #FFEFC7;
}

#portal-header {
    padding: 1rem 3.5rem;
}

#portal-footer {
    padding: 2rem 3.5rem;
}

#portal-footer p {
    margin-top: 0.5rem;
}

#portal-main {
    background-color: white;
    padding: 1.4rem 3.5rem 4rem 4.5rem;
}

#portal-main ul {
    padding-left: 3.5rem;
}

h2 {
    font-weight: 900;
}

main a:link {
    color: #9E6A3A;
}
  
main a:visited {
    color: #684627;
}

main a:hover {
    color: #E0B184;
}

footer a:link {
    color: #B5B27D;
}
  
footer a:visited {
    color: #8E8B52;
}

footer a:hover {
    color: #E0B184;
}

#portal-img {
    max-width: 325px;
    float: right;
    margin: 1.5rem 0rem 0rem 0rem;
}