@media only screen and (min-width: 27.5rem) {
    /*27.5rem = 440px*/
    /*general styling*/
    /*header*/
    .menubutton {
        display: none;
    }
    /*nav menu*/
    .nav-menu {
        white-space: nowrap;
    }
    .nav-menu ul, .nav-menu.hidden {
        display: flex;
    }
    .nav-menu ul li, .nav-menu.hidden ul li {
        flex: 1 1 auto;
        align-self: center;
        height: 100%;
    }
    /*Main*/
    /*Footer*/
    /*Homepage*/
    .highlighted, .weather {
        
    }

    .events {
        position: relative;
        background-color: #0D4982;
    }
    .events picture {
        display: block;
    }
    .events div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*Orem*/
    .med-table {
        display: table;
        margin: 1rem auto;
    }
    .sm-table {
        display: none;
    }
    .med-table .table-dark {
        color: white;
        background-color: #0D4982;
    }
    .links ul, .links h3 {
        min-width: 220px;
    }

    .history-img {
        max-width: 80%;
        margin: 0 auto;
        display: block;
    }

}