/*general styling*/
img {
    width: 100%
}
body {
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
}
h1, h2, h3 {
    font-family: "Encode Sans SC", sans-serif;
}

/*header*/
.hidden {
    display: none;
}

.alert {
    background-color: #FACE37;
}
header {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: min-content min-content min-content;
    align-items: center;
}
h1 {
    margin: 0 0 0 1rem;
}
.login-div, #social {
    grid-column: 1 / -1;
}
.login-div ul {
    display: grid;
    grid-template-columns: auto 4.5rem 4.5rem 4.5rem auto;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    background-color: #B9CBCB;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#social ul {
    display: grid;
    grid-template-columns: auto min-content min-content min-content min-content auto;
    list-style-type: none;
    padding-left: 0;
}
.column2 {
    grid-column-start: 2;
}
.column3 {
    grid-column-start: 3;
}
.column4 {
    grid-column-start: 4;
}
.column5 {
    grid-column-start: 5;
}

.logo-picture {
    margin-left: 0.5rem;
}
.logo-picture img {
    max-width: 5rem;
    min-width: 3.5rem;
}
#social a img {
    width: 1.5rem;
}


