body {
    display: grid;
    grid-template-rows: 4.5em 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: min-content;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

h1 {
    margin: 1.25rem 0;
}

img[data-src] {
    filter: blur(0.2em);
}

img {
    filter: blur(0em);
    transition: filter 0.5s;
}