body {
    font-size: 15px;
}

header {
    display: flex;
    padding: 1rem;
}
.navigation ul li {
    display: none;
}

.logo {
    max-width: 100px;
    float: left;
}

.map {
    width: 90%;
    min-width: 250px;
}