/*note: 55rem at 16px base font size = 880*/

/*general styling and preston page*/
@media only screen and (min-width: 55rem) {
    main {
        max-width: 75%;
    }
    .hero-box {
        position: relative;
    }
    .weather-overlay {
        grid-template-columns: 1fr 1fr;
        position: absolute;
        top: 15%;
        left: 4rem;
        border: 2px solid rgba(0, 0, 0, 0.3);
        padding: 0 1rem;
        background-color: rgba(38, 166, 209, 0.95);
    }
    .weather-overlay h3 {
        padding: 0.75rem 0 0.5rem 0;
        margin: 0;
    }
    .weather-overlay p {
        margin-top: 0;
    }
    .weather-overlay .column2 {
        padding-left: 0.7rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3rem 1.5rem 1.5rem min-content 1.5rem 1.5rem auto;
        grid-column-gap: 2rem;
        white-space: nowrap;
    }
    footer h3, footer p, footer div {
        grid-column-start: 2;
    }
    footer h3 {
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }
    footer p {
        margin: 0 0 0.5rem 0;    
    }
    footer div {
        align-content: center;
        padding: 0.5rem 0 0.7rem 0;
    }
    footer div a {
        display: inline-block;
    }
    .map-picture {
        grid-column-start: 1;
        grid-row: 1 / -1;  
        justify-self: end;
        margin-top: 1rem;
        margin-right: 0;
    }
    .map {
       margin: 0;
       width: 100%;
    }

    /*Gallery Page*/
    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
}