/*note: 35rem at 16px base font size = 560*/

/*general styling*/
@media only screen and (min-width: 41.87rem) {
    header {
        padding: 0.65rem;
        grid-template-columns: min-content auto;
    }
    .logo {
        min-width: 5.5rem;
    }
    header h1 {
        font-size: 2.3rem;
    }
    header p {
        font-size: 1rem;
    }
    header button {
        display: none;
    }
    
    .navigation {
        border-top: 2px solid rgba(0, 0, 0, 0.3);
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        white-space: nowrap;
    }
    .navigation ul, .navigation .hidden {
        display: flex;
    }
    .navigation ul li {
        flex: 1 1 auto;
        align-self: center;
        height: 100%;
    }
    .navigation ul li a {
        border-top: none;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
    
    main {
        margin: 0 auto 1rem auto;
        max-width: 85%;
    }
    
    .article-img {
        float: right;
        max-width: 23rem;
    }
    .article-link {
        clear: right;
    }

    /*Town Pages*/
    .forecast-section {
        display: block;
    }

    /*Gallery Page*/
    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    .gallery-grid picture{
        margin-bottom: 0;
        border-width: 7px;
    }

    .town-info div img {
        max-height: 10rem;
    }
    .town-info div:nth-child(odd) img {
        float: left;
    }

    .town-info div:nth-child(even) img {
        float: right;
    }

    .article-title {
        clear: left;
    }

    /*Main Page*/
    .welcome-box {
        top: 50%;
    }
    .welcome-box h2 {
        font-size: 2.5rem;
        padding: 1rem 3rem;
    }
}