@media only screen and (min-width: 55rem) {
    main {
        max-width: 75%;
    }
    .hero-box {
        position: relative;
    }
    .weather-overlay {
        position: absolute;
        top: 15%;
        left: 4rem;
        line-height: 1rem;
        border: 2px solid rgba(0, 0, 0, 0.3);
        padding: 0 1rem;
        background-color: rgba(38, 166, 209, 0.7);
    }
    .weather-overlay h2 {
        margin: 0.75rem 0;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3rem 1.5rem 1.5rem min-content 1.5rem 1.5rem auto;
        grid-column-gap: 2rem;
        white-space: nowrap;
    }
    footer h2, footer p, footer div {
        grid-column-start: 2;
    }
    footer h3 {
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }
    footer p {
        margin: 0 0 0.5rem 0;    
    }
    footer div {
        align-content: center;
        padding: 0.5rem 0 0.7rem 0;
    }
    footer div a {
        display: inline-block;
    }
    .map {
        grid-column-start: 1;
        grid-row: 1 / -1;  
        justify-self: end;
        margin-left: 2rem;
        margin-right: 0;
    }
}