/* new/alternate main blue: #75CBE8 */
/*Colors:
    main blue: #26A6D1 / rgb(38, 166, 209)
    dark blue: #033E63 / rgb(3, 62, 99)
    light blue: #DFEDF2
    dark neutral: #070C0D
*/

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 18% auto 11%;
    padding: 0.5rem;
    background-color: #033E63;
    color: #DFEDF2;
}
.logo {
    width: 100%;
    height: auto;
    grid-row: 1 / 3;
    align-self: center;
    max-width: 8rem;
}
header h1, header p {
    grid-column-start: 2;
    margin: 0 0 0 1rem;
}
header h1 {
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    align-self: end;
}
header p {
    font-size: 0.9rem;
    align-self: start;
}
header button {
    border: none;
    padding: 0;
    font-size: 1.7rem;
    grid-row: 1 / 3;
    grid-column-start: 3;
    align-self: center;
    justify-self: end;
    background-color: #033E63;
    color: #DFEDF2;
}

nav {
    background-color: #26A6D1;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation .hidden {
    display: none;
}
.navigation ul li a {
    display: block;
    padding: 0.6rem 1rem;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
}
#location {
    background-color: #033E63;
    color: #DFEDF2; 
}
.navigation ul li a:hover, #location:hover {
    background-color: #DFEDF2;
    color: black; 
}

main {
    margin: 0 1.5rem 1rem 1.5rem;
}
h2 {
    font-family: 'PT Sans', sans-serif;
}
main div {
    padding: 1rem;
    background-color: #DFEDF2;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
}
main div:first-of-type {
    border-top: none;
}
.hero-box a img {
    width: 100%;
}
.weather-overlay p {
    margin: 0.5rem 0;
}


footer {
    background-color: #033E63;
    color: #DFEDF2;
    padding: 1rem;
}
footer h3 {
    margin-top: 0;
}
footer a {
    margin: 0 0.1rem;
    display: none;
}
footer div a img {
    max-width: 3rem;
}
.map {
    display: block;
    width: 90%;
    max-width: 20.5rem;
    margin: 1rem auto 0 auto;
}