/* alternate main blue: #75CBE8 */
/*Colors:
    main blue: #26A6D1 / rgb(38, 166, 209)
    dark blue: #033E63 / rgb(3, 62, 99)
    light blue: #DFEDF2
    dark neutral: #070C0D
*/

/*general styling and preston page*/
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
a:link {
    color:#033E63;
}
a:visited {
    color: #26A6D1;
}
a:hover {
    color: #070C0D;
}
h1, h2, h3 {
    font-family: 'Lora', serif;
}

.event-banner {
    background-color: #DFEDF2;
    margin: 0;
    padding: 0.75rem 1.5rem;
    line-height: 1.3;
}

header {
    display: grid;
    grid-template-columns: 18% auto 11%;
    padding: 0.5rem;
    background-color: #033E63;
    color: #DFEDF2;
}
.logo {
    width: 100%;
}
.logo-picture {
    width: 100%;
    height: auto;
    grid-row: 1 / 3;
    align-self: center;
    max-width: 8rem;
}
header h1, header p {
    grid-column-start: 2;
    margin: 0 0 0 1rem;
}
header h1 {
    font-size: 1.8rem;
    font-weight: bold;
    align-self: end;
}
header p {
    font-size: 0.9rem;
    align-self: start;
}
header button {
    border: none;
    padding: 0;
    font-size: 1.7rem;
    grid-row: 1 / 3;
    grid-column-start: 3;
    align-self: center;
    justify-self: end;
    background-color: #033E63;
    color: #DFEDF2;
}

nav {
    background-color: #26A6D1;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation .hidden {
    display: none;
}
.navigation ul li a {
    display: block;
    padding: 0.6rem 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
}
#location {
    background-color: #033E63;
    color: #DFEDF2; 
}
.navigation ul li a:hover, #location:hover {
    background-color: #DFEDF2;
    color: black; 
}

main {
    margin: 0 1.5rem 1rem 1.5rem;
}
h2 {
    font-size: 2rem;
}
.hero-box picture img {
    width: 100%;
}
.weather-overlay {
    display: grid;
    grid-template-columns: minmax(min-content, 10rem) minmax(min-content, 10rem) auto;
    grid-template-rows: min-content 1fr 1fr 1fr 1fr 1fr;
}
.weather-overlay h3 {
    grid-column: 1 / 3;
    margin-bottom: 0.5rem;
}
.weather-overlay p {
    margin: 0.5rem 0;
}
.column1 {
    grid-column: 1 / 2;
}
.column2 {
    grid-column: 2 / 3;
}

.forecast-section {
    display: none;
}
.forecast {
    margin: 0 auto;
}
.forecast-days {
    background-color: #26A6D1;
}
.forecast tr td {
    padding: 0.5rem;
}
.forecast, .forecast tr, .forecast tr td {
    border: 2px solid black;
    border-collapse: collapse;
}
.forecast tr td img {
    max-width: 75px;
}

.article-title {
    margin-bottom: 0;
}
.article-author {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 0.5rem;
}
.article-img {
    width: 75%;
    min-width: 10rem;
    margin: 0 auto;
    display: block;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
article p {
    line-height: 1.3rem;
}

footer {
    background-color: #033E63;
    color: #DFEDF2;
    padding: 1.7rem 1rem 1rem 1rem;
}
footer h3 {
    margin: 0;
    font-size: 1.5rem;
}
footer a {
    margin: 0 0.1rem;
    display: none;
}
footer div a img {
    max-width: 3rem;
}
.map {
    display: block;
    width: 90%;
    max-width: 20.5rem;
    margin: 1rem auto 0 auto;
}

/*Gallery page*/
/*.gallery-grid picture {
    margin: 0 auto 1rem auto;
}*/
.gallery-grid picture {
    display: block;
    border: 15px solid #DFEDF2;
    margin-bottom: 1.5rem;
}
.gallery-grid picture img {
    width: 100%
}
.gallery-grid figcaption {
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    padding: 0 0.2rem 0.6rem 0.2rem;
}

#gallery-visit-p {
    text-align: center;
}
