/*general styling*/
@media only screen and (min-width: 41.87rem) {
    header {
        padding: 0.65rem;
        grid-template-columns: min-content auto;
    }
    .logo {
        min-width: 5.5rem;
        max-width: none;
    }
    header h1 {
        font-size: 2.3rem;
    }
    header p {
        font-size: 1rem;
    }
    header button {
        display: none;
    }
    
    .navigation {
        border-top: 2px solid #15709F;
        border-bottom: 2px solid #15709F;
        border-left: 1px solid #15709F;
        border-right: 1px solid #15709F;
        white-space: nowrap;
    }
    .navigation ul, .navigation .hidden {
        display: flex;
    }
    .navigation ul li {
        flex: 1 1 auto;
        align-self: center;
        height: 100%;
    }
    .navigation ul li a {
        border-top: none;
        border-left: 1px solid #15709F;
        border-right: 1px solid #15709F;
    }
    .navigation ul li:last-child a {
        border-bottom: none;
    }
    
    main {
        margin: 0 auto 1rem auto;
        max-width: 85%;
    }
    
    .article-img {
        float: right;
        max-width: 23rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .article-link {
        clear: right;
    }

    /*Town Pages*/
    .forecast-section {
        display: block;
    }

    /*Gallery Page*/
    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    .gallery-grid picture {
        margin-bottom: 0;
        border-width: 7px;
    }

    /*Main Page*/
    .welcome-box {
        top: 50%;
    }
    .welcome-box h2 {
        font-size: 2.5rem;
        padding: 1rem 3rem;
    }    
    .town-info div img {
        max-width: 20rem;
    }

    .town-info div {
        display: grid;
        grid-template-columns: 0.1fr 2fr 0.5fr 2fr 0.1fr;
        grid-template-rows: 1.9em 2em 1.5em 1.5em auto;
        grid-column-gap: 2rem;
    }
    .town-info div p {
        margin: 0;
    }
    .town-info div:nth-child(odd) h3,  .town-info div:nth-child(odd) p {
        grid-column: 3 / 5;
        text-align: left;
    }
    .town-info div:nth-child(odd) img {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
    }
    .town-info div:nth-child(even) h3,  .town-info div:nth-child(even) p {
        grid-column: 2 / 4;
        text-align: right;
    }
    .town-info div:nth-child(even) img {
        grid-column: 4 / 5;
        grid-row: 1 / -1;
    }
}