/*Colors:
    main blue: #24AFF9 / rgb(38, 166, 209)
    border blue: #15709F
    dark blue: #033E63 / rgb(3, 62, 99)
    light blue: #DFEDF2
    dark neutral: #070C0D
    yellow: #FFEC5F
*/

/*TODO: get rid of redundant styling affecting max-width on images*/

/*general styling*/
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
a:link {
    color:#15709F;
}
a:visited {
    color: #886293;
}
a:hover {
    color: #24AFF9;
}
h1, h2, h3 {
    font-family: 'Lora', serif;
}
h2 {
    font-size: 2.1rem;
}
h3 {
    font-size: 1.25rem;
}
img {
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 16% auto 11%;
    padding: 0.5rem;
    background-color: #033E63;
    color: #DFEDF2;
}
.logo { 
    max-width: 5rem;
    min-width: 3rem;
}
.logo-picture {
    height: auto;
    grid-row: 1 / 3;
    align-self: center;
}
header h1, header p {
    grid-column-start: 2;
    margin: 0 0 0 1rem;
}
header h1 {
    font-size: 1.8rem;
    font-weight: bold;
    align-self: end;
}
header p {
    font-size: 0.9rem;
    align-self: start;
}
header button {
    border: none;
    padding: 0.2rem;
    font-size: 1.7rem;
    grid-row: 1 / 3;
    grid-column-start: 3;
    align-self: center;
    justify-self: end;
    background-color: #033E63;
    color: #DFEDF2;
}
header button:active {
    box-shadow: 8px 4px 3px rgba(0, 0, 0, 0.3) inset, -1px -1px 3px rgba(0, 0, 0, 0.3) inset;
    background-color: #02324F;
}

nav {
    background-color: #24AFF9;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation .hidden {
    display: none;
}
.navigation ul li a {
    display: block;
    padding: 0.6rem 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #070C0D;
    font-size: 1.1rem;
    border-top: 2px solid #15709F;
}
.navigation ul li:last-child a {
    border-bottom: 2px solid #15709F;
}
#location {
    background-color: #DFEDF2;
    font-weight: bold;
}
.navigation ul li a:hover {
    background-color: #10A7F9;
    box-shadow: 8px 4px 3px rgba(0, 0, 0, 0.3) inset, -1px -1px 3px rgba(0, 0, 0, 0.3) inset;    
}
#location:hover {
    background-color: #D4E6ED;
    box-shadow: 8px 4px 3px rgba(0, 0, 0, 0.3) inset, -1px -1px 3px rgba(0, 0, 0, 0.3) inset;
}

main {
    margin: 0 1.5rem 1rem 1.5rem;
}

.article-title {
    margin-bottom: 0;
}
.article-author {
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 0.5rem;
}
.article-img {
    min-width: 10rem;
    max-width: 27rem;
    margin: 0 auto;
    display: block;
    box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
}
article p {
    line-height: 1.3rem;
}
.italics {
    font-style: italic;
}

footer {
    clear: right;
    background-color: #033E63;
    color: #DFEDF2;
    padding: 1.7rem 1rem 1.7rem 1rem;
}
footer h3 {
    margin: 0;
    font-size: 1.5rem;
}
.socialMedia {
    margin: 0 0.1rem;
    display: none;
}
footer div a img {
    max-width: 3rem;
    margin-right: 0.5rem;
}
.socialMedia a img:hover {
    box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem rgba(0, 0, 0, 0.6);
}
#openweather:link {
    color:#81CAEF;
}
#openweather:visited {
    color:#C9B6CE;
}
#openweather:hover {
    color:white; /*why isn't this working?*/
}
.map {
    display: block;
    max-width: 23rem;
    margin: 1rem auto 0 auto;
    box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem rgba(0, 0, 0, 0.6);
}

/*Town Pages*/
.event-banner {
    background-color: #DFEDF2;
    margin: 0;
    padding: 0.75rem 1.5rem;
    line-height: 1.3;
}

.weather-overlay {
    display: grid;
    grid-template-columns: auto minmax(min-content, 7rem) minmax(min-content, 7rem) auto;
    grid-template-rows: min-content 1fr 1fr 1fr 1fr 1fr;
}
.weather-overlay h3 {
    grid-column: 1 / -1;
    margin-bottom: 0.5rem;
}
.weather-overlay p {
    padding: 0.3rem 0.8rem 0.3rem 0.3rem;
    margin: 0;
}
.column1 {
    grid-column: 2 / 3;
    background-color: #DFEDF2;
    border-right: 1px solid #15709F;
    border-bottom: 1px solid #15709F;
    border-top: 1px solid #15709F;
    border-left: 2px solid #15709F;
}
.column2 {
    grid-column: 3 / 4;
    background-color: #DFEDF2;
    border-right: 2px solid #15709F;
    border-bottom: 1px solid #15709F;
    border-top: 1px solid #15709F;
    border-left: 1px solid #15709F;
}
.column1:nth-of-type(1), .column2:nth-of-type(2) {
    border-top: 2px solid #15709F;
}
.column1:nth-of-type(9), .column2:nth-of-type(10){
    border-bottom: 2px solid #15709F;
}
.column2:nth-of-type(2):first-letter {
    text-transform:capitalize;
}

.forecast-section {
    display: none;
}
.forecast {
    margin: 0 auto;
    box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
}
.forecast-days {
    background-color: #033E63;
    color: #DFEDF2;
}
.forecast tr td {
    text-align: center;
    background-color: #DFEDF2;
    padding: 2px;
}
.forecast tr th {
    padding: 4px;
}
.forecast, .forecast tr td {
    border: 2px solid #15709F;
    border-collapse: collapse;
}
.forecast, .forecast-days {
    border-color: #033E63;
}

.forecast tr td img {
    width: auto;
    padding: 0.5rem 1.3rem 0.1rem 1.3rem;
}

.events-section {
    background-color: #DFEDF2;
    border: 5px solid #15709F;
    box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
    max-width: 30rem;
    text-align: center;
    margin: 0 auto 2rem auto;
}
.events-section h3 {
    margin-top: 0.75rem;
    margin-bottom: 0;
}
.events-section p {
    margin: 1rem;
}

/*Gallery page*/
.gallery-grid picture {
    display: block;
    border: 15px solid #DFEDF2;
    margin-bottom: 1.5rem;
}
.gallery-grid figcaption {
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    padding: 0 0.2rem 0.6rem 0.2rem;
}

#gallery-visit-p {
    text-align: center;
}

/*Home page*/
.hero-box {
    position: relative;
}
.home-hero {
    margin-top: 2rem;
}
.welcome-box {
    background-color: #DFEDF2;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #15709F;
    box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
}
.welcome-box h2 {
    margin: 0;
    font-size: 7vw;
    padding: 0.4em 1.2em;
}

.town-info {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.town-info div {
    border-top: 2px solid #15709F;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.town-info div:nth-child(3) {
    border-bottom: 2px solid #15709F;
}
.town-info div h3 {
    margin: 0;
}
.town-info div p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.town-info div p:first-of-type {
    font-size: 0.9rem;
}
.town-info div img {
    box-shadow: 0.3rem 0.3rem 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
    max-width: 27rem;
}
.town-info div p:nth-child(2) {
    font-style: italic;
}

.end-p, #gallery-visit-p {
    background-color: #DFEDF2;
    padding: 1rem;
    text-align: center;
    clear: right;
    border: 2px solid #15709F;
}

/*Stormcenter Page*/
legend {
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    font-weight: bold;
    /*border: 2px solid #15709F;*/
    background-color: #15709F;
    color: white;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
}
fieldset label input, fieldset label select, fieldset label datalist, fieldset label textarea {
    margin-bottom: 0.6rem;
    margin-top: 0.25rem;
    padding: 0.1rem;
}
fieldset label textarea {
    width: 60%;
    height: 4rem;
}
.radio {
    margin-right: 0.8rem;
}
.radio input {
    width: auto;
    margin-right: 3px;
}
fieldset {
    border: 2px solid #15709F;
    margin-bottom: 1rem;
    background-color: #DFEDF2;
}
#severity-value {
    position: relative;
    bottom: 4px;
}
.submit {
    background-color: #24AFF9;
    border: 2px solid #15709F;
    padding: 0.5rem;
    font-weight: bold;
}
.submit:hover {
    background-color: #10A7F9;
    box-shadow: 8px 4px 3px rgba(0, 0, 0, 0.3) inset, -1px -1px 3px rgba(0, 0, 0, 0.3) inset;   
}