/*note: 35rem at 16px base font size = 560*/

/*general styling and preston page*/
@media only screen and (min-width: 35rem) {
    header {
        padding: 0.65rem;
        grid-template-columns: min-content auto;
    }
    .logo {
        min-width: 7.7rem;
    }
    header h1 {
        font-size: 2.3rem;
    }
    header p {
        font-size: 1rem;
    }
    header button {
        display: none;
    }
    
    .navigation ul, .navigation .hidden {
        display: flex;
        /* height: 63.188px; */
    }
    .navigation ul li {
        flex: 1 1 auto;
        align-self: center;
        height: 100%;
        /* height: 63.188px; */
    }
    .navigation ul li a {
        border-top: none;
        /*add the top padding to 1.2*16 to the bottom padding?*/
    }
    
    main {
        margin: 0 auto 1rem auto;
        max-width: 85%;
    }
    .forecast-section {
        display: block;
    }

    .article-img {
        float: right;
        max-width: 23rem;
    }
    .article-link {
        clear: right;
    }

    /*Gallery Page*/
    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    .gallery-grid picture{
        margin-bottom: 0;
        border-width: 7px;
    }

    .town-info div img {
        max-height: 10rem;
    }
    .town-info div:nth-child(odd) img {
        float: left;
    }

    .town-info div:nth-child(even) img {
        float: right;
    }

    .article-title {
        clear: left;
    }
}